@model FM_Grupo2.Models.Equipa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeEquipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeEquipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logotipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logotipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clube)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clube)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localizacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
