@model IEnumerable<FM_Grupo2.Models.Campeonato>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LogotipoPath)
        </th>
        <th>
            Abrangência
        </th>
        <th>
            País
        </th>
        <th>
            Frequência
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntidadeOrganizadora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataFundacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogotipoPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scope.descriptionPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country.NamePT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency.descriptionPT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EntidadeOrganizadora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFundacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CampeonatoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CampeonatoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CampeonatoID })
        </td>
    </tr>
}

</table>
