@model FM_Grupo2.Models.Jornada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jornada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Temporada.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temporada.Nome)
        </dd>

        <dt>
            Nº Jornada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumJornada)
        </dd>

        <dt>
            Data Inicio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>

        <dt>
            Data Fim
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JornadaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
