@model IEnumerable<FM_Grupo2.Models.Jornada>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Temporada.Nome)
        </th>
        <th>
            Nº Jornada
        </th>
        <th>
            Data Inicio
        </th>
        <th>
            Data Fim
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Temporada.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumJornada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataFim)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.JornadaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.JornadaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.JornadaID })
        </td>
    </tr>
}

</table>
