@model FM_Grupo2.Models.Temporada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Temporada</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campeonato.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campeonato.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NJornadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NJornadas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TemporadaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
